@inject IJSRuntime JSRuntime


@page "/Labrat"
<p>The first key on a keyboard (3)</p> Esc

<p>An item of the UPMOST importance (3)</p> Hat


<p>
    The rival to Kira(1)<br />
    Canadian Confirmation(2)<br />
    The apiary animal(3)<br />
    Singular : is :: Plural :: ? (3)<br />
    Under my Umbrella (1)<br />
    A suffix to high; a prefix to party (3)
</p>


@code {

}
