@page "/Theend"

<h3>TheEnd</h3>

<p>As our day comes to an end, I think you might be able to figure this one out just by distance. Good luck!</p>

<a href="sms:+5626188028?body=Hey%20there%2C%20I%20just%20played%20Operation%20Paprika!">Texting myself 🎉</a>


@code {

}
